PORT=4000
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=StrongPassword123
POSTGRES_DB=nestjs_postgres_db
REDIS_PASSWORD=StrongPassword123redis
REDIS_PORT=6379
REDIS_HOST=localhost
JWT_SECRET=your_jwt_secret_key
ACCESS_TOKEN_VALIDITY_DURATION_IN_SEC=1200
THROTTLE_TTL=60
THROTTLE_LIMIT=100
NODE_ENV=development
AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_S3_BUCKET_NAME=your_s3_bucket_name