@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BBH Bartle";
  src: url('/fonts/BBHBartle-Regular.ttf');
}
@font-face {
  font-family: "RubikStorm Regular";
  src: url('/fonts/RubikStorm-Regular.ttf');
}
@font-face {
  font-family: "DancingScript";
  src: url('/fonts/DancingScript-Regular.ttf');
}


@layer base {
  :root {
    --color-bg-100: #E8F5E8;
    --color-bg-33: #F3E5F5;
    --color-bg-0: #fbc7d9;
    --color-round-100: #F8BBD9;
    --color-round-0: #E4C1F9;
    --color-tx-second: #7e7e7e;
    --color-tx-first-100: #9C27B0;
    --color-tx-first-0: #E91E63;
    --color-light: #fff;
    --color-black: #000000;
    --zero-opacity: rgba(0, 0, 0, 0);
    --project-bg: #ffffff32;
    --footer-tx: #7a7a7a;
    --form: #fff;
    --admin-tx0: #000000;
    --admin-gr0: #fafafa;
    --admin-gr33: #FFFFFF;
    --admin-tx100: #D1D5DB;
    --admin-gr100: #F8FAFC;
    --font-display: "BBH Bartle", sans-serif;
    /* #1e7de9; */
  }
}
.theme-black {
  --color-bg-100: #27355c;
  --color-bg-33: #21213b;
  --color-bg-0: #0F0F23;
  --color-round-100: #9C27B0;
  --color-round-0: #653cc4;
  --color-tx-second: #B0B0B0;
  --color-tx-first-100: #320087;
  --color-tx-first-0: #eb58d0;
  --color-light: #fff;
  --color-black: #000;
  --zero-opacity: rgba(0, 0, 0, 0);
  --project-bg: #878787;
  --footer-tx: #ffffff;
  --form: #757575;
  --admin-tx0: #ffffff;
  --admin-gr33: #222222;
  --admin-gr0: #333333;
  --admin-tx100: #888888;
  --admin-gr100: #000000;
}


.theme-blue {
  --color-bg-100: #c0dbfe;
  --color-bg-33: #E2E8F0;
  --color-bg-0: #F8FAFC;
  --color-round-100: #5f85ff;
  --color-round-0: #abbeff;
  --color-tx-second: #374151;
  --color-tx-first-100: #be44ef;
  --color-tx-first-0: #272aba;
  --color-light: #fff;
  --color-black: #000000;
  --zero-opacity: rgba(0, 0, 0, 0);
  --project-bg: #98c8ff;
  --footer-tx: #464646;
  --form: #d7e5ff;
  --admin-tx0: #000000;
  --admin-gr0: #98c7f9db;
  --admin-gr33: #bddfff;
  --admin-tx100: #3d3d3d;
  --admin-gr100: #d9f2ff;
}


.text {
  font-family: "BBH Bartle", sans-serif;
}


::-webkit-scrollbar {
  background: var(--color-bg-33);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-round-100);
  border-radius: 100px;
}


.liquidGlass-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-elem {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  transition: all 0.6s cubic-bezier(0.2, 0.9, 0.3, 1.5);
  cursor: pointer;
}

.liquidGlass-transition {
  transition: all 0.6s cubic-bezier(0.2, 0.9, 0.3, 1.5), transform 0.6s cubic-bezier(0.2, 0.9, 0.3, 1.5);
}

.liquidClass-scale {
  transform: scale(1.05);
}

.liquid-glass-burger {
  background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(50px);
    cursor: pointer;
}

.liquidGlass-shadow {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
}

.liquidGlass-border {
  border-radius: 100%;
}

.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;
  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}

.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.25);
}

.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: hidden;
  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.liquidGlass-text {
  z-index: 3;
  font-size: 2rem;
}

.liquidGlass-hover {
  transform: scale(1.05);
}


.image-mask {
  mask-image: linear-gradient(to left, black 10%, transparent),
  linear-gradient(to right, black 10%, transparent);
  -webkit-mask-image: linear-gradient(to left, black 10%, transparent),
  linear-gradient(to right, black 10%, transparent);
  -webkit-mask-composite: source-in;
  mask-composite: intersect;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.image-mask-right-photo {
  mask-image: linear-gradient(to right, black 80%, transparent 99%);
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 99%);
   -webkit-mask-composite: source-in;
  mask-composite: intersect;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.image-mask-left-photo {
  mask-image: linear-gradient(to left, black 80%, transparent 99%);
  -webkit-mask-image: linear-gradient(to left, black 80%, transparent 99%);
   -webkit-mask-composite: source-in;
  mask-composite: intersect;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.image-mask-project {
  mask-image: linear-gradient(to left, black 80%, transparent),
  linear-gradient(to right, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to left, black 80%, transparent),
  linear-gradient(to right, black 80%, transparent);
  -webkit-mask-composite: source-in;
  mask-composite: intersect;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.image-mask-right {
  mask-image: linear-gradient(to right, black 0%, transparent);
  -webkit-mask-image: linear-gradient(to right, black 0%, transparent);
}


.image-mask-left {
  mask-image: linear-gradient(to left, var(--project-bg) 10%, var(--zero-opacity));
  -webkit-mask-image: linear-gradient(to left, var(--project-bg) 10%, var(--zero-opacity));
}

.padding {
  padding: 3.5rem 0.3rem;
}

.padding-button {
  padding: 0.75rem 2rem;
}

.padding-admin {
  padding-top: 4rem;
}

.padding-elements {
  padding: 3rem 0.5rem 2rem 0.5rem;
}

@keyframes gradient-animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes image-animation {
  0% {
    top: -100vh;
  }
  25% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 0;
    transform: translateX(25%) skewX(-10deg);
    box-shadow: var(--color-tx-second) 0px 0px 10px 0px;
  }
  75% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: 100vh;
  }
}

@keyframes image-animation-second {
  0% {
    top: -100vh;
  }
  25% {
    top: 0;
    transform: rotate(0);
    shadow:
  }
  50% {
    top: 0;
    transform: translateX(-25%);
  }
  75% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: 100vh;
  }
}

.image-second {
  animation: image-animation-second infinite 7s ease-in-out;
}

.image {
  animation: image-animation infinite 7s ease-in-out;

}

.gradient-box {
  background: linear-gradient(
    45deg,
    var(--color-bg-0),
    var(--color-bg-33),
    var(--color-bg-100)
  );
  background-size: 300% 300%;
  animation: gradient-animate 8s ease-in-out infinite;
}

.gradient-round {
  background: linear-gradient(
    45deg,
    var(--color-bg-0),
    var(--color-bg-33),
    var(--color-bg-100)
  );
  background-size: 300% 300%;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.container-rounds {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

.interactive {
  background: radial-gradient(circle at center, var(--color-tx-first-100), var(--color-tx-first-0));
  mix-blend-mode: hard-light;
  background-size: 100% 100%;
  transform: all 1s ease-in-out;
  transform-origin: center center;
}

.gradient-box-rounds {
  background: radial-gradient(var(--color-tx-first-100), var(--color-round-100));
  background-size: 100% 100%;
  animation: moveHorizontal 8s ease-in-out infinite;
  mix-blend-mode: hard-light;
  transform-origin: calc(50% - 200px);
}


.gradient-box-rounds-second {
  background: radial-gradient(var(--color-tx-first-0), var(--color-round-0));
  background-size: 100% 100%;
  transform-origin: calc(50% - 200px);
  animation: moveInCircle 20s reverse infinite;
  mix-blend-mode: hard-light;
}


.gradient-box-rounds-third {
  background: radial-gradient(var(--color-tx-first-100), var(--color-round-0));
  background-size: 100% 100%;
  animation: moveVertical 8s ease-in-out infinite;
  mix-blend-mode: hard-light;
  transform-origin: calc(50% - 200px);
}

@layer utilities {
  .gradient-round-three {
    background: radial-gradient(var(--color-tx-first-100), var(--color-round-100));
    background-size: 100% 100%;
    mix-blend-mode: hard-light;
    transition: all 0.6s ease-in-out;
  }

  .gradient-round-two {
    background: radial-gradient(var(--color-tx-first-0), var(--color-round-0));
    background-size: 100% 100%;
    mix-blend-mode: hard-light;
    transition: all 0.6s ease-in-out;
  }
  
  .gradient-round-one {
    background: radial-gradient(var(--color-bg-0), var(--color-round-100));
    background-size: 100% 100%;
    mix-blend-mode: hard-light;
    transition: all 0.6s ease-in-out;
  }
}

.hovered-elem:hover {
  background: radial-gradient(var(--color-bg-0), var(--color-round-100));
  background-size: 100% 100%;
  mix-blend-mode: hard-light;
  transition: all 0.6s ease-in-out;
}

.gradient {
  background: linear-gradient(45deg, var(--color-tx-first-0), var(--color-tx-first-100));
}



.robot {
  position: static;
  transform: translateY(-20%);
}

@screen sm {
  .image-mask {
    mask-image: linear-gradient(to left, black 10%, transparent),
    linear-gradient(to right, black 10%, transparent);
    -webkit-mask-image: linear-gradient(to left, black 10%, transparent),
    linear-gradient(to right, black 10%, transparent);
  }

  .robot {
    position: static;
    width: 100%;
    height: 100vw;
    top: 30vh;
    transform: translateX(0) translateY(-20%);
  }

  .image-mask-right {
    mask-image: linear-gradient(to bottom, black 0%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent);
  }

  .padding {
    padding: 3rem 0.5rem;
  }

  .padding-elements {
    padding: 3rem 0.5rem;
  }
}

@screen md {
  .image-mask-right {
    mask-image: linear-gradient(to bottom, black 0%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent);
  }

  .robot {
    position: sticky;
    top: 30vh;
    left: 0;
    width: 50vw;
    height: 50vw;
    transform: translateX(45%) translateY(-20%);
  }

  .padding {
    padding: 3.5rem 1.5rem;
  }

  .padding-elements {
    padding: 4rem 1rem;
  }
}

@screen lg {
  .image-mask {
    mask-image: linear-gradient(to left, black 70%, transparent),
    linear-gradient(to right, black 70%, transparent);
    -webkit-mask-image: linear-gradient(to left, black 70%, transparent),
    linear-gradient(to right, black 70%, transparent);
  }

  .image-mask-right {
    mask-image: linear-gradient(to right, black 0%, transparent);
    -webkit-mask-image: linear-gradient(to right, black 0%, transparent);
  }

  .robot {
    position: sticky;
    top: 30vh;
    left: 0;
    width: 50vw;
    height: 50vw;
    transform: translateX(45%) translateY(-20%);
  }

  .padding {
    padding: 4rem 1.5rem;
  }

  .padding-elements {
    padding: 4rem 1rem;
  }

}

@screen xl {
  .image-mask {
    mask-image: linear-gradient(to left, black 80%, transparent),
    linear-gradient(to right, black 80%, transparent);
    -webkit-mask-image: linear-gradient(to left, black 80%, transparent),
    linear-gradient(to right, black 80%, transparent);
  }

  .image-mask-right {
    mask-image: linear-gradient(to right, black 0%, transparent);
    -webkit-mask-image: linear-gradient(to right, black 0%, transparent);
  }

  .robot {
    position: sticky;
    top: 30vh;
    left: 0;
    width: 50vw;
    height: 50vw;
    transform: translateX(45%) translateY(-20%);
  }
}

.angle-box {
  --angle: 15deg;
  border: 5px solid transparent;
  border-image: conic-gradient(
    from var(--angle),
    transparent,
    var(--color-tx-first-100) 0.1turn,
    var(--color-tx-first-100) 0.15turn,
    transparent 0.25turn
  ) 50;
}

.display-none {
  display: none;
}

.pin-spacer {
  pointer-events: none;
}
